version: "3.9"

services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  koxik-bot:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    command: bun --env-file=.env src/index.ts
    restart: unless-stopped

volumes:
  pgdata:
